window.hypothesisConfig = function() {
  return {
    showHighlights: true,
    appType: 'via',
    {% if h_request_config -%}
     requestConfigFromFrame: {{h_request_config | tojson }},
    {%- endif -%}
    {% if h_open_sidebar %}
    openSidebar: true,
    {% endif %}
  };
}
