{% import 'instructions_macro.html.jinja2' as instructions %}

{% extends "error_base.html.jinja2" %}

{% block content %}
    <header>
      <h1>Content cannot be annotated</h1>
    </header>
    <article>
      <p>
        Unfortunately, the contents of this page cannot be annotated through this Hypothesis service.
      </p>
      {{ instructions.view_annotations(url_to_annotate) }}
    </article>
{% endblock %}
