{% import 'instructions_macro.html.jinja2' as instructions %}

{% extends "error_base.html.jinja2" %}

{% block content %}
    <header>
      <h1>Content not available</h1>
    </header>
    <article>
      <p>
        Unfortunately, the publisher of this page has requested that we disallow access
        to it through this Hypothesis service. That means we can't show you the page
        you were looking for right away…
      </p>
      {{ instructions.view_annotations(url_to_annotate) }}
    </article>
{% endblock %}
